.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 2px;
}
.skeleton.round {
  border-radius: 100%;
}
.skeleton.button {
  border-radius: 25px;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 20%);
  }
  100% {
    background-color: hsl(170, 6%, 25%);
  }
}
