* {
  transition: margin 0.2s ease-in-out;
}
body {
  font-family: sans-serif;
}

.clip {
  width: 20ch;
  text-overflow: ellipsis;
}

.header li:hover {
  opacity: 0.8;
}

.header .active {
  color: #ec4899;
}
.header .active:hover {
  opacity: none;
}
.header .active:last-of-type {
  color: inherit;
}
