@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.home::-webkit-scrollbar,
.suggestions::-webkit-scrollbar {
  width: 0px;
}

body {
  background: #1e293b;
  color: #fff;
}

.header li:hover {
  color: #ec4899;
}
